body{
    padding-bottom: 5%;
    margin: 0px;
}

#quemsomos{
    margin: 5rem auto;
}

#quemsomos .container-fluid img{
    display: block;
    margin: auto auto 1em auto;
}

#quemsomos h5,h6{
    width: 50em;
    margin: auto;
    width: 100%;
    max-width:900px;   
    text-align: center;
}

#quemsomos p{
    margin: auto;
    width: 50em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    width: 100%;
    max-width:900px;   
}

.InicioResumo{
    width: 50em;
    margin: auto;
    width: 100%;
    max-width:900px;   
    text-align: center;
}

#quemsomos a{
    text-decoration: none;
    color: white;
}

#quemsomos ul{
    width: 50em;
    margin: auto;
    width: 100%;
    max-width:900px;   
    text-align: justify;
}

#contatos{
    margin: 5rem auto;
}

#contatos h3{
    text-align: center;
}

.listContatos{
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: center;

}

.listContatos li{
    margin-right: 25px;
}

.listContatos a{
    text-decoration: none;
}

#footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;  
}

